stages:
  - build
  - push

variables:
  IMAGE_TAG: latest

before_script:
  - docker info

build:
  stage: build
  tags:
    - shell
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$IMAGE_TAG .
  only:
    - main

push:
  stage: push
  tags:
    - shell
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" $CI_REGISTRY --password-stdin
    - docker push $CI_REGISTRY_IMAGE:$IMAGE_TAG
  only:
    - main
