{{- if .Values.keycloak.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.keycloak.name }}
  namespace: {{ include "federation-manager.namespace" . }}
  labels:
    {{- include "federation-manager.keycloak.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.keycloak.replicaCount }}
  selector:
    matchLabels:
      {{- include "federation-manager.keycloak.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "federation-manager.keycloak.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: keycloak
          image: "{{ .Values.keycloak.image.repository }}:{{ .Values.keycloak.image.tag }}"
          imagePullPolicy: {{ .Values.keycloak.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.keycloak.service.targetPort }}
              protocol: TCP
          args:
            - "start-dev"
            - "--import-realm"
          env:
            - name: KC_BOOTSTRAP_ADMIN_USERNAME
              value: {{ .Values.keycloak.admin.username | quote }}
            - name: KC_BOOTSTRAP_ADMIN_PASSWORD
              value: {{ .Values.keycloak.admin.password | quote }}
            - name: KC_IMPORT
              value: "/opt/keycloak/data/import/realm-import.json"
          volumeMounts:
            - name: realm-import
              mountPath: /opt/keycloak/data/import/
          resources:
            {{- toYaml .Values.keycloak.resources | nindent 12 }}
      volumes:
        - name: realm-import
          configMap:
            name: keycloak-config
{{- end }}
